<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzy.pmservice.mapper.HximgMapper" >
  <resultMap id="BaseResultMap" type="com.yzy.pmservice.pojo.Hximg" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="workid" property="workid" jdbcType="CHAR" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, workid, imagepath
  </sql>

  <insert id="insert" parameterType="com.yzy.pmservice.pojo.Hximg" >
    insert into hximg (id, workid, imagepath)
    values (#{id,jdbcType=INTEGER}, #{workid,jdbcType=CHAR}, #{imagepath,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yzy.pmservice.pojo.Hximg" >
    insert into hximg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="workid != null" >
        workid,
      </if>
      <if test="imagepath != null" >
        imagepath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workid != null" >
        #{workid,jdbcType=CHAR},
      </if>
      <if test="imagepath != null" >
        #{imagepath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="getImgByWorkid" resultType="com.yzy.pmservice.pojo.Hximg">
    select * from hximg where workid = #{workid}
  </select>
  <select id="getImgPathById" resultType="java.lang.String">
    select imagepath from hximg where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from hximg
    where id = #{id,jdbcType=INTEGER}
  </delete>
</mapper>