<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzy.pmservice.mapper.KehuMapper" >
  <resultMap id="BaseResultMap" type="com.yzy.pmservice.pojo.Kehu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="demand" property="demand" jdbcType="VARCHAR" />

    <result column="followup" property="followup" jdbcType="VARCHAR" />
    <result column="xingz" property="xingz" jdbcType="VARCHAR" />


    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="kehuid" property="kehuid" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="AllKehuInfo" type="com.yzy.pmservice.pojo.Kehu" extends="BaseResultMap">



  </resultMap>
  <sql id="Base_Column_List" >
    id, name, gender, demand, followup, xingz, kehuid, phone, remarks
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from kehu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kehu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yzy.pmservice.pojo.Kehu" >
    insert into kehu (id, name, gender, demand, followup, xingz, kehuid, phone, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR},
      #{demand,jdbcType=VARCHAR}, #{followup,jdbcType=VARCHAR}, #{xingz,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
     #{kehuid,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR},
      )
  </insert>
    <insert id="insertSelective" parameterType="com.yzy.pmservice.pojo.Kehu" >
    insert into kehu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="demand != null" >
        demand,
      </if>
      <if test="followup != null" >
        followup,
      </if>
      <if test="xingz != null" >
        xingz,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="kehuid != null" >
        kehuid,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
       <if test="demand != null" >
      #{demand,jdbcType=VARCHAR},
    </if>
      <if test="followup != null" >
        #{followup,jdbcType=VARCHAR},
      </if>
      <if test="xingz != null" >
        #{xingz,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="kehuid != null" >
        #{kehuid,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yzy.pmservice.pojo.Kehu" >
    update kehu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="demand != null" >
        demand = #{demand,jdbcType=VARCHAR},
      </if>
      <if test="followup != null" >
        followup = #{followup,jdbcType=VARCHAR},
      </if>
      <if test="xingz != null" >
        xingz = #{xingz,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="kehuid != null" >
        kehuid = #{kehuid,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yzy.pmservice.pojo.Kehu" >
    update kehu
    set name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      demand = #{demand,jdbcType=VARCHAR},
      followup = #{followup,jdbcType=VARCHAR},
      xingz = #{xingz,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},

      kehuid = #{kehuid,jdbcType=CHAR},

      remarks = #{remarks,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getKehuByPage" resultMap="AllKehuInfo">
    SELECT e.* from kehu e where 1=1
    <if test="keyword!=null and keyword!=''">
      and e.name like concat('%',#{keyword},'%')
    </if>
     limit #{page},#{size}
  </select>
  <select id="getTotal" resultType="java.lang.Long">
    select count(*) from kehu
    <if test="keyword!=null and keyword!=''">
      where name like concat('%',#{keyword},'%')
    </if>
  </select>
  <select id="maxWorkID" resultType="java.lang.Integer">
    SELECT MAX(kehuid) FROM kehu
  </select>
  <select id="getKehuAByKeHuId" resultType="com.yzy.pmservice.pojo.Kehu_a">
    select * from kehu_a where kehuid = #{kehuid}
  </select>

</mapper>
